body{
    background-color: #2C2C2C;
    margin: 0%;
}


/************************* 
LANDING HEADER
***************************/


.landingheader {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0;
    padding: 0;
    border-bottom: 2px white solid;
}

.landingheader .sign {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.landingheader .budgetbox {
    margin:0;
    display: flex;
}

.landingheader .budgetbox .B{
    font-size: 200%;
    border: #0269C1 solid 2px;
    height: 69%;
    margin: 4%;
    padding-right: 5%;
    padding-left: 5%;
}

.landingheader .budgetbox .bx{
    border: 0;
    color: white;
    background-color: white;
    padding: 0;
    margin: 2%;
    height: 1%;
    margin-top: 8%;
}


/*****************
LANDING BODY
*****************/


.landingbody {
    color: white;
    width: 40% ;
}

.landingbody .notetext{
    width: 100%;
    margin-left: 6%;
    margin-top: 9%;
}

.landingbody .SignUP{
    font-size: 4vw;
    width: 100%;
}

.landingbody .note{
    font-size: 1.7vw;
    width: 75%;
    margin-top: 5%;
}

 .emailpw{
    margin-left: 6%;
    margin-top: 20%;
    width: 40%;
}

 .password{
    display: flex;
    flex-direction: column;
    width: 100%;
}


  .email{
    color: #F7F7F7;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

  .epwinput{
    background: #b1b1b194;
    border-radius: 4px;
    width: 100%;
    margin-top: 5%;
    padding: 4%;
    margin-bottom: 5%;
}
  .input::placeholder {
    color: white;
    border: 0;
    width: 100%;
    opacity: 1;
}
  .input{
    background: transparent;
    border: 0;
    width: 100%;
}
 .ep{
    margin-left: 6%;
    color: white;
}

  .registerbutton{
    border: #707070 solid thin;
    border-radius: 8px;
    width: 44%;
    padding: 3%;
    background-color: #F7FAFA;
}


/********************
** MAIN BODY GRAPHS 
*********************/


.main{
    display: flex;
}

.main .graphs{
    width: 60%;
    margin-top: -10%;
}

.main .graphs .monthlyBudget{
    width: 41%;
    margin-top: 55%;
    margin-left: -12%;
    background: #212121;
    color: white;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 1vw -1vw 97px 28px black;
    font-size: 1.6vw;
}

.main .graphs .monthlyBudget div{
    margin: 3%;
}

.main .graphs .monthlyBudget .calculation{
    font-size: 1.3vw;
}

.main .graphs .monthlyBudget .outerBar{
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.main .graphs .monthlyBudget .innerBar{
    width: 40%;
    background-color: #2AC926;
    padding: 1%;
    border-radius: 5px;
}

.main .graphs .incomeExpenseBar{
    width: 70%;
    background-color: #212121;
    color: white;
    border-radius: 8px;
    margin-top: -60%;
    margin-left: 10%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    box-shadow: -1vw 0.5vw 30px black;
    position: relative;
    z-index: -1;
}


.main .graphs .incomeExpenseBar .heads{
    width: 100%;
    }

.main .graphs .incomeExpenseBar .heading{
    font-size: 1.5vw;
    padding: 1%;
    width: 100%;
}

.main .graphs .incomeExpenseBar .subheading{
    font-size: 1.2vw;
    padding: 1%;
    width: 100%;
}


.main .graphs .incomeExpenseBar .legend{
    display: flex;
    flex-direction: column;
    align-self: end;
}

.main .graphs .incomeExpenseBar .legend .legendIncExp{
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.main .graphs .incomeExpenseBar .legend .legendIncomeDot{
    padding: 5%;
    background-color: greenyellow;
    width: 1%;
    border-radius: 5px;
    height: 1%;
    margin-right: 20%;
    margin-left: -90%;
}

.main .graphs .incomeExpenseBar .legend .legendExpenseDot{
    padding: 5%;
    background-color: red;
    width: 1%;
    border-radius: 5px;
    height: 1%;
    margin-right: 20%;
    margin-left: -90%;
}

.main .graphs .incomeExpenseBar .bars {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}

.main .graphs .incomeExpenseBar .dates {
    display: flex;
    justify-content: space-around;
    font-size: 1.2vw;
}

.main .graphs .incomeExpenseBar .bar1, .bar2, .bar3, .bar4{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    height: 16vw;
    flex-direction: row-reverse;
}


.main .graphs .incomeExpenseBar .bar1 .expenseBar1{
    background-color: #2AC926;
    width: 2%;
    padding: 10%;
    border-radius: 3px;
    height: 40%;
}
.main .graphs .incomeExpenseBar .bar1 .incomeBar1{
    border-radius: 3px;
    background-color: red;
    width: 2%;
    padding: 10%;
    height: 40%;
}

.main .graphs .incomeExpenseBar .bar2 .expenseBar2{
    border-radius: 3px;
    background-color: #2AC926;
    width: 2%;
    padding: 10%;
    height: 60%;
}
.main .graphs .incomeExpenseBar .bar2 .incomeBar2{
    border-radius: 3px;
    background-color: red;
    width: 2%;
    padding: 10%;
    height: 50%;
}

.main .graphs .incomeExpenseBar .bar3 .expenseBar3{
    border-radius: 3px;
    background-color: #2AC926;
    width: 2%;
    padding: 10%;
    height: 70%;
}
.main .graphs .incomeExpenseBar .bar3 .incomeBar3{
    padding: 4%;
    border-radius: 3px;
    background-color: red;
    width: 2%;
    padding: 10%;
    height: 40%;
}

.main .graphs .incomeExpenseBar .bar4 .expenseBar4{
    padding: 10%;
    border-radius: 3px;
    background-color: #2AC926;
    width: 2%;
    height: 70%;
}
.main .graphs .incomeExpenseBar .bar4 .incomeBar4{
    padding: 10%;
    border-radius: 3px;
    background-color: red;
    width: 2%;
    height: 35%;
}


.main .graphs .incomeExpenseBar .barLine{
    height: 100%;
    width: 100%;
}

.main .graphs .ExpensesChart
{
    width: 50%;
    background-color: #212121;
    margin-left: 42%;
    color: white;
    display: flex;
    border-radius: 6px;
    box-shadow: -1vw -0.5vw 50px 10px black;
    margin-top: -20%;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;
    padding:2% ;
}

.main .graphs .ExpensesChart .expenses
{
    font-size: 3vw;
    width: 100%;
    position: absolute;
    margin-left: 10%;
}


.main .graphs .ExpensesChart .pie{
    margin-top: 20%;
    border-radius: 50%;
    width: 52%;
    aspect-ratio: 1;
    background: conic-gradient(
            purple 124deg,
            orange 0 186deg,
            grey 0 211deg,
            White 0 268deg,
            yellow 0 326deg,
            cyan 0 360deg,
            green 0 190deg,
            blue 0 360deg
          
  );
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .graphs .ExpensesChart .pie .pieinner{
    /* padding: 10%; */
    width: 70%;
    border-radius: 50%;
    background: black;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.main .graphs .ExpensesChart .legend{
    margin-top: 16%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}


.main .graphs .ExpensesChart .legend .legendcat{
    padding: 5%;
    background-color: greenyellow;
    width: 1%;
    border-radius: 50%;
    height: 1%;
    margin-right: 10%;
}

.main .graphs .ExpensesChart .legend .legend1{
    display: flex;
    align-items: center;
    justify-content: start;
}

.main .graphs .ExpensesChart .legend .legend1{
    display: flex;
    align-items: center;
    justify-content: start;
}
.main .graphs .ExpensesChart .legend .legend1{
    display: flex;
    align-items: center;
    justify-content: start;
}
.main .graphs .ExpensesChart .legend .legend1{
    display: flex;
    align-items: center;
    justify-content: start;
}

.main .graphs .ExpensesChart .legend .legend1{
    display: flex;
    align-items: center;
    justify-content: start;
}

.main .graphs .ExpensesChart .legend .legendHouse{
    background-color: purple;   
}
.main .graphs .ExpensesChart .legend .legendTransportation{
    background-color: yellow;
}
.main .graphs .ExpensesChart .legend .legendGrocery{
    background-color: orange;
}
.main .graphs .ExpensesChart .legend .legendElectricity{
    background-color: white;
}
.main .graphs .ExpensesChart .legend .legendInternet{
    background-color: cyan;
}
.main .graphs .ExpensesChart .legend .legendGym{
    background-color: grey;
}




/***************
***Sign In Email and pwd
****************/

/* .signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.signin_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0, 30%);
    width: 25%;
    margin: auto;
    color: white;
}

.signin_body .head1{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4%;
}

.signin_body .sub1{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 10%;
}


.signinep{
    width: 70%;
    background-color: rgb(47, 47, 47);
    padding: 5% 15%;
    box-shadow: 0vw 0vw 50px 0.1vw black ;
    border-radius: 10px;
}

.signinep .epwinput{
    width: 90%;
}

.signin_body .password .registerbutton{
    margin: auto;
    margin-top: 5%;
}

/*************
***Sidebar****
**************/

.sidebar{
    color: white;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #2C2C2C;
}

.transactionroot{
    background-color: black;
    display: flex;
    min-height: 100vh;
}

